@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
    --primary: #001C30;
    --secondary: #176B87;
    --lightOne: #64CCC5;
    --lightTwo: #DAFFFB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background: var(--primary);
}

.task-list{
    list-style: none;
    width: 90%;
    height: 40rem;
    background: var(--secondary);
    padding: 1rem 0.6rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: var(--lightOne);
    border-radius: 5px;
    color: #100f10;
    margin: 1rem 0;
}

.task-list li > p{
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.btn{
    padding: 2.5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 2.5px;
    width: 100%;
    font: 1rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.done{
    background: #A2FF86;
}

.remove{
    background: #ff4444;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80");
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
}

.userTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userTask h2{
    font-size: 2.8rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
}

input[type="text"]{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-family: monospace;
    border-radius: 5px;
}

input[type="submit"]{
    width: 6.5rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    background: var(--secondary);
    color: #fefefe;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 1rem;
}

.content h1{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #363636;
}

.content p{
    font-size: 14px;
    font-family: monospace;
}

.footer p:nth-child(2){
    background: var(--lightOne);
    padding: 1.5px 10px;
    border-radius: 20px;
    margin: 5px 0;
}